
.form-container {
    background-color: lightblue;
    padding: 20px 0;
    label {
        padding-top: 7px;
        padding-left: 11px;
    }
    p {
        font-weight: bold;
    }
    .input-group div{
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .edit-btn {
        margin-left: 28px;
        padding: 3px 8px;
    }
}
    
    
