.move-left {
  float: left;
}

.align {
  margin-left: 60px;
}

.align-margin {
  margin-top: 10px;
}

.header {
  background-color: #228ce6;
}

.border {
  border: 1px solid #000;
}

.color {
  background-color: lightgrey;
}

.side {
  display: flex;
}

.gap {
  padding-top: 35px;
}

.title-color {
      color: #e07e00;
}

.save {
  background-color: #da663a;
  border: none;
}

input {
  box-shadow:  inset 0px 1px 1px 0px #555
}

.form-group.required .control-label:after {
   content: "*";
   color: red;
   padding: 5px;
}
.pd-tiny {
  padding: 5px;
}

.pd-small {
  padding: 20px;
}

.pd-large {
  padding: 40px;
}

.margin-tiny {
  margin: 5px;
}
.margin-medium {
  margin: 10px;
}
.margin-small {
  margin: 20px;
}

.margin-large {
  margin: 40px;
}

.cell-padding {
  padding-bottom: 10px;
}
